<div class="flex flex-col">

    <ng-container *ngIf="products.length !== 0">
        <div class="grid grid-cols-3 gap-3">
            <ng-container *ngFor="let item of products">
                <div class="max-w-xs rounded-md overflow-hidden shadow-xl cursor-pointer" (click)="openModal(productForm, item)">
                    <img [src]="item.imagen"
                        alt="Nombre del Producto" class="w-full max-h-52 object-contain object-center">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">{{ item.nombre }}</div>
                        <p class="text-gray-700 text-base mb-2"> {{ item.sku }} </p>
                        <p class="text-gray-700 text-base"> {{ item.precio | currency:'COP':"symbol":"1.0-0" }} </p>
                    </div>
                </div>
            </ng-container>
        </div>
    
        <app-paginator [totalRecords]="totalRecords"></app-paginator>
    </ng-container>
    
    <ng-container *ngIf="products.length === 0">
        <div class="bg-gray-100 p-4 rounded-md shadow-md text-center">
            <p class="text-gray-600 text-lg">No hay información para mostrar</p>
        </div>
    </ng-container>
    
</div>
