<div class="fixed inset-0 flex items-center justify-center z-50">
    <div class="modal bg-white w-3/4 rounded-lg shadow-lg">

        <app-header-modal [title]="'Detalle del Producto'"></app-header-modal>
        
        <div class="flex px-4 pt-4">
            <div class="w-1/2 max-w-sm pr-4">
                <img [src]="data.imagen"
                    alt="Nombre del Producto" class="w-full">
            </div>
            <div class="w-1/2 pl-4">
                <h3 class="text-xl font-semibold mb-2">{{ data.nombre }}</h3>
                <p class="text-gray-600 text-sm mb-2">
                    <span class="text-black font-light">SKU:</span>
                    {{ data.sku }}
                </p>
                <div class="text-gray-600 text-sm mb-2">
                    <span class="text-black font-light">Etiquetas:</span>
                    {{etiquetas}}
                </div>
                <p class="text-gray-600 text-sm mb-2">
                    <span class="text-black font-light">Precio:</span>
                    {{ data.precio | currency:'COP':"symbol":"1.0-0"}}
                </p>
                <p class="text-gray-600 text-sm">
                    <span class="text-black font-light"> Stock: </span>
                    {{ data.stock }} unidades
                </p>
                <p class="text-gray-700 text-sm mb-4">
                    {{ data.descripcion }}
                </p>
            </div>
        </div>
        <div class="mt-4 flex justify-end gap-3 p-4 pt-0">
            <button mat-stroked-button color="warn" *ngIf="data" (click)="handleDeleteProduct()">Eliminar</button>
            <button mat-raised-button color="primary" *ngIf="data" (click)="handleChangeView()">Editar</button>
            <button mat-stroked-button color="primary" (click)="handleCloseModal()">Cerrar</button>
        </div>
    </div>
</div>